

<footer class="footer">
	<div class="nao_perca">
		<strong>Não perca essa <br>oportunidade única!</strong>
		<span></span>
		<span></span>
	</div>
	<div class="contato">
		<figure>
			<img src="img/pp-connect.png" alt="Perfect Pay Connect">
		</figure>
		<p>Contato e suporte: <a href="https://novo-site.perfectpay.com.br" target="_blank">Perfect Pay</a></p>
	</div>
	<div class="redes">
		<small>© 2025 - Todos os direitos reservados</small>
		<ul>
			<li><a href="https://t.me/joinchat/Rp3-0zwK1COtFaWD" title="Telegram" target="_blank"></a></li>
			<li><a href="https://www.facebook.com/Perfectpayoficial/?ref=pages_you_manage" title="Facebook" target="_blank"></a></li>
			<li><a href="https://www.youtube.com/channel/UCvCU79Z76HuNGj6ysiqe2Jg" title="YouTube" target="_blank"></a></li>
			<li><a href="https://www.instagram.com/perfectpayoficial" title="Instagram" target="_blank"></a></li>
		</ul>
	</div>
</footer>

<script src="{{ site.url }}{{ site.baseurl }}/js/splide.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/scripts.js"></script>
